html,
input,
button,

body{
	color: $text-color;
	font-family: $body-font;
	font:13.5px/1.5em $body-font;
	line-height: $base-line;
	font-weight: 400;
}

p{
	margin-bottom: $base-line;
	color: $dark-text-color;
}
a{
	text-decoration: none;
}
a,
a:visited {
	color: $link-color;

	&:hover{
		color: $dark-color;
	}
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0 0 1em;
	line-height: 1.5em;
	color: $titel-color;
}
h5,
h6{
	text-transform: uppercase;
	letter-spacing: 1px;
}
h1{
	font-size: $h1-size;
}
h2{
	font-size: $h2-size;
	text-transform: uppercase;
}
h3{
	font-size: $h3-size;
	text-transform: uppercase;

}
h4{
	font-size: $h4-size;
	text-transform: uppercase;
}
h5{
	font-size: $h5-size;
	text-transform: uppercase;
}
h6,small{
	font-size: $h6-size;
}
ul,
ol{
	margin: 0 0 $base-line $base-line;
}
