.homepage-banner{

}

.our-benefits{
	background: #fff;

	.benefit-item{
		display: table;

		i{
		    color: $main-color;
		    font-size: 60px;
			display: table-cell;
			width: 90px;
			vertical-align: top;
			padding-right: $base-line;

		}
		div{
			display: table-cell;
			vertical-align: top;

			p{
				margin-bottom: 0;
			}
		}
	}
}

.hot-offers{
	background: $bg-light-yellow;

	.btn-block{
		margin-top: 180px;
	}
}
.hot-offers-box{
	position: relative;
    width: 100%;
    max-width: 360px;
	background: #fff;
	outline: 8px solid #fff;
	border: 2px solid $bg-light-yellow;
	padding: 25px 20px;
	overflow: hidden;

	h3{
		margin: 0 20px 0 0;
		padding: 0;
		color: $main-color;
		font-size: 48px;
		line-height: 48px;
		float: left;

		span{
			display: block;
			font-size: 14px;
			color: #97947f;
			line-height: 14px;
		}
		a{
			color: $btn-active;

		}
	}
	h4{
		text-transform: uppercase;
		font-size: 17px;
		line-height: 17px;
		margin:15px 0 0;
		padding: 0;
		float: left;

		span{
			font-size: 14px;
			display: block;
			font-weight: 400;
		}
	}
}

.our-pricing{

}
.pricing-table{
	margin: 0;
	padding: $base-line;
	list-style-type: none;
    background-color: #FFF;
    border: 1px solid $border-color;

    li{
    	text-align: center;
    	border-bottom: 1px solid $border-color;
    	margin-bottom: 12px;
    	padding-bottom: 12px;

    }
    .price{
		border-bottom: none;
		color: $titel-color;
		text-transform: uppercase;

		span{
			font-size: 50px;
			display: block;
			line-height: 100%;

			strong{
				font-weight: 800;
			}
		}
    }

    .title{
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	font-weight: 800;
    	background-color: $btn-active;
    	font-size: 14px;
    	color: #fff;
    	height: 45px;
    	line-height: 45px;
    	margin: 0 25px 22px;
    }
	li:last-child,
	li:nth-last-of-type(2){
		border: none;
	}
	li:last-child{
		margin-bottom: 0;
		padding-bottom: 0;
	}

}
.signup-newsletter{
	background: $bg-light-sky;
}

@media (max-width: 992px){
	
	.pricing-table{
		margin-top: 20px;
		.title{
			margin: 0 0 22px;
		}
	}

	.our-benefits .benefit-item{
		margin-bottom: 20px;
		display: block;
	}
	.bottom-space{
		margin-bottom: 0;
	}

	.hot-offers{
		.col-md-4{
			margin-bottom: 50px;
		}
		.btn-block{
			margin-top: 20px;
		}
	}
}
@media (max-width: 768px){
	
}