$base-line: 1.5rem; //21px

$body-font: 'Open Sans', Helvetica, Arial, sans-serif;

// text color
$text-color: #8d9198;
$dark-text-color: #a0a9b6;
$light-text-color: #859aa1;
$link-color: #9ba4b0;
$main-color: #ff8261; 
$border-color: #e1e9f2;
$dark-color: #484e57;
$titel-color: #556b72;
$border-light-color: #dfeef3;
$footer-text-color: #909aad;

// backgrounds
$bg-white: #fff;
$bg-light-grey:#4c515b;
$bg-light-sky: #e7f4f8;
$bg-light-yellow: #fffbde;

$btn-active: #52cbf8;

$h1-size: 40px;
$h2-size: 30px;
$h3-size: 18px;
$h4-size: 16px;
$h5-size: 14px;
$h6-size: 12px;

